<md-tab label="Personen">
  <md-content class="md-padding">
    <div flex>
      <md-input-container>
        <label>Vorname</label>
        <input name="vorname" ng-model="person.vorname" placeholder="Elon" required>
      </md-input-container>
      <md-input-container>
        <label>Name</label>
        <input name="name" ng-model="person.name" placeholder="Musk" required>
      </md-input-container>
    </div>
    <div flex>
      <md-input-container>
        <md-datepicker ng-model="person.geburtsdatum" md-placeholder="Geburtsdatum" required></md-datepicker>
      </md-input-container>
      <md-input-container>
        <label>Ermässigung</label>
        <md-select name="ermaessigung" ng-model="person.ermaessigung" placeholder="HalbTax" required>
          <md-option value="none">keine</md-option>
          <md-option value="halbtax">HalbTax</md-option>
          <md-option value="ga">GA</md-option>
        </md-select>
      </md-input-container>
    </div>
    <md-button class="md-raised md-primary">Hinzufügen</md-button>
  </md-content>
</md-tab>
