<md-dialog flex>
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>About & Settings</h2>
                <span flex></span>
                <a href="https://github.com/schlpbch/bookingAPI" target="_blank">
                    <svg width="30" height="30" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                        <path id="githubIcon" fill="#ffffff"
                              d="M704 1216q0 40-12.5 82t-43 76-72.5 34-72.5-34-43-76-12.5-82 12.5-82 43-76 72.5-34 72.5 34 43 76 12.5 82zm640 0q0 40-12.5 82t-43 76-72.5 34-72.5-34-43-76-12.5-82 12.5-82 43-76 72.5-34 72.5 34 43 76 12.5 82zm160 0q0-120-69-204t-187-84q-41 0-195 21-71 11-157 11t-157-11q-152-21-195-21-118 0-187 84t-69 204q0 88 32 153.5t81 103 122 60 140 29.5 149 7h168q82 0 149-7t140-29.5 122-60 81-103 32-153.5zm224-176q0 207-61 331-38 77-105.5 133t-141 86-170 47.5-171.5 22-167 4.5q-78 0-142-3t-147.5-12.5-152.5-30-137-51.5-121-81-86-115q-62-123-62-331 0-237 136-396-27-82-27-170 0-116 51-218 108 0 190 39.5t189 123.5q147-35 309-35 148 0 280 32 105-82 187-121t189-39q51 102 51 218 0 87-27 168 136 160 136 398z"/>
                    </svg>
                </a>
                </a>
                <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>Contributors</h2>
                <div layout="row" layout-xs="column">
                    <div flex>
                        <api-loader ng-if="$ctrl.contributors.length === 0 && !$ctrl.loadingFailed"></api-loader>
                        <div style="color: red;" ng-if="$ctrl.loadingFailed">
                            <md-icon>error</md-icon>
                            Failed to load contributors
                        </div>
                        <md-list flex>
                            <md-list-item ng-repeat="contributor in $ctrl.contributors" ng-if="$index % 2 === 0"
                                          class="noright">
                                <img ng-src="{{contributor.avatar_url}}" class="md-avatar">
                                <p>{{ contributor.login}}</p>
                        </md-list>
                    </div>
                    <div flex>
                        <md-list flex>
                            <md-list-item ng-repeat="contributor in $ctrl.contributors" ng-if="$index % 2 !== 0"
                                          class="noright">
                                <img ng-src="{{contributor.avatar_url}}" class="md-avatar"/>
                                <p>{{ contributor.login}}</p>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>
                <div layout="row" layout-xs="column">
                    <div flex>
                        <h2>Settings</h2>
                        <p>The following setting allows you to switch between the mock Backend and the real Backend</p>
                        <md-switch class="md-subhead" ng-model="$ctrl.isMockDisabled" aria-label="Switch"
                                   ng-true-value="true" ng-false-value="false">
                            Disable Mock
                        </md-switch>
                    </div>
                </div>
                <div layout="row" layout-xs="column">
                    <div flex>
                        <h2>Licence</h2>
                        <h3>Todo add Licence</h3>
                        <h3>Visit us on <a target="_blank" href="https://github.com/schlpbch/bookingAPI">GitHub</a></h3>
                        <span flex></span>
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="$ctrl.apply()">
                Apply
            </md-button>
            <md-button ng-click="$ctrl.cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>