<md-bottom-sheet class="md-list md-has-header">
    <h3>Error Log
        <span flex></span>
        <md-icon ngclipboard data-clipboard-target="#errorlist"
                 ngclipboard-success="$ctrl.onSuccess(e);">
            assignment return
        </md-icon>
    </h3>
    <span style="color: green;" ng-if="$ctrl.copySuccessfull">
        <md-icon style="color: green;">check circle</md-icon>
        Successfully copied to clipboard
    </span>
    <md-list id="errorlist" ng-cloak>
        <md-list-item ng-repeat="error in $ctrl.errorLogService.errors">
            <span>
                <span class="md-inline-list-icon-label"><b style="margin-right: 15px">{{ error.code }}</b>{{ error.message }}</span>
            </span>
        </md-list-item>
    </md-list>
</md-bottom-sheet>