<md-card class="md-3-line">

  <md-card-header>
    <md-card-avatar>
      <md-icon>receipt</md-icon>
    </md-card-avatar>
    <md-card-header-text>
      <span class="md-title">Booking</span>
      <span class="md-subhead">Id: {{$ctrl.booking.bookingId}}</span>
    </md-card-header-text>
  </md-card-header>

  <md-card-content>

      <md-list>

        <md-list-item ng-repeat="ticket in $ctrl.booking.tickets">
          <md-icon>receipt</md-icon>
          <p> Ticket: {{ticket.ticketId}} </p>

          <md-button class="md-primary md-raised" ng-click="$ctrl.bookingService.printBooking($ctrl.booking.bookingId, ticket, 'application/pdf')">Ticket PDF</md-button>
          <md-button class="md-primary md-raised" ng-click="$ctrl.bookingService.printBooking($ctrl.booking.bookingId, ticket, 'text/html')">Ticket PNG</md-button>
          <md-button class="md-primary md-raised" ng-click="$ctrl.bookingService.printBooking($ctrl.booking.bookingId, ticket, 'application/vnd.apple.pkpass')">Ticket PKPASS</md-button>

        </md-list-item>

      </md-list>

  </md-card-content>

</md-card>
