<md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" ng-click="app.toggleList()">
  <md-toolbar class="md-tall md-hue-2">
    <span flex></span>
    <div layout="column" class="md-toolbar-tools-bottom inset">
      <p class='md-title'>booking App</p>
      <div class='md-subhead'>booking API test application<br/>by Team SVS</div>
    </div>
  </md-toolbar>
  <md-list>
    <md-subheader>Login</md-subheader>
    <md-item>
      <md-item-content md-ink-ripple layout="row" layout-align="start center">
        <div class="inset">
          <md-icon>exit_to_app</md-icon>
          <md-button ng-click="$ctrl.showBasicAuthLogin($event)">Login with U-Number</md-button>
        </div>
      </md-item-content>
    </md-item>
  </md-list>
</md-sidenav>
