<md-toolbar class="md-toolbar-tools">
    <md-button ng-click="$ctrl.toggleSidenav('left')" aria-label="Menu">
        <md-icon>menu</md-icon>
    </md-button>
    <h3>booking API</h3>
    <span flex></span>
    <md-list-item style="padding-right: 0px" ng-if="$ctrl.authService.isAuthenticated()">
        <span flex></span>
        {{ $ctrl.authService.getAuthData().name }}
        <img ng-src="{{$ctrl.authService.getAuthData().avatar}}" class="md-avatar">
    </md-list-item>
    <md-button ng-click="$ctrl.showAdvanced($event)">
        <md-icon>more_vert</md-icon>
    </md-button>
</md-toolbar>