.user-infos {
    padding-right: 0px !important;
}

.user-avatar {
    margin-left: 15px;
    margin-right: 0px !important;
}

.toggle-settings {
    padding-left: 0px !important;
    margin-left: 0px !important;
}
