.user-infos {
    padding-right: 0px !important;
}

.user-avatar {
    margin-left: 15px;
    margin-right: 0px !important;
}

.toggle-settings {
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}

.logout-button {
   cursor: pointer;
}
