<md-card class="md-3-line">
  <md-card-title>
    <md-card-title-text>
      <span class="md-subhead">tripId: {{$ctrl.trip.tripId}}</span>
      <span class="md-headline">
        <md-icon>train</md-icon>
         {{$ctrl.trip.segments[0].origin.name}} &ndash; {{$ctrl.trip.segments[0].destination.name}}</span>
      <span class="md-subhead">
        Date of Departure: {{$ctrl.trip.segments[0].origin.date}}, Time: {{$ctrl.trip.segments[0].origin.time}}<br>
        Date of Arrival: {{$ctrl.trip.segments[0].destination.date}}, Time: {{$ctrl.trip.segments[0].destination.time}}
      </span>
      <span>from: {{$ctrl.connectionService.getPrice($ctrl.trip)}}</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-actions layout="row" layout-align="end center">
    <md-button class="md-raised" href="{{$ctrl.trip._links.link2WebshopB2C.href}}">Book@www.sbb.ch</md-button>
    <!--
    <md-button class="md-raised" href="{{$ctrl.trip._links.link2MobileB2C.href}}">Book in Mobile App</md-button>
    -->
    <md-button class="md-raised md-primary" ng-click="$ctrl.connectionService.getOffers($ctrl.trip)">Offer</md-button>
  </md-card-actions>
</md-card>
