<md-tab label="Travel Wish">
  <md-content class="md-padding">
    <form>
      <api-station title="'Origin'" selected-item="$ctrl.originId"></api-station>
      <api-station title="'Destination'" selected-item="$ctrl.destinationId"></api-station>
      <br/>
      <md-switch class="md-subhead" ng-model="$ctrl.departureOrArrival" aria-label="Switch" ng-true-value="'Arrival Time'" ng-false-value="'Departure Time'">
        {{ $ctrl.departureOrArrival}}
      </md-switch>
      <md-input-container>
        <label>Date</label>
        <md-datepicker ng-model="$ctrl.date" md-placeholder="2017/09/02"></md-datepicker>
      </md-input-container>
      <md-input-container>
        <label>Time</label>
        <input name="zeit" ng-model="$ctrl.time" placeholder="22:22" required>
      </md-input-container>
      <br/>
      <md-button class="md-raised md-primary" ng-click="$ctrl.travelWishService.getTrips($ctrl.originId, $ctrl.destinationId, $ctrl.isArrival, $ctrl.date, $ctrl.time)">Find
      </md-button>
    </form>
  </md-content>
</md-tab>
